body{
  all: unset;
  background-color: crimson;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.conteiner{
  background: rgba(247, 213, 25, 0.5);
  padding: 3rem 4rem;
  border-radius: 10px;
  gap: 1;
  color: white;
}
mark{
  color: yellow;
  background-color: red;
}
button{
  margin: 20px;
  padding: 20px;
  border: none;
  border-radius: 10px;
}
button:hover{
  opacity: .6;
  box-shadow: 0 1px 30px red;
}
@media only screen and (max-width: 765px){
  body{
    background-color: rgb(10, 160, 10);
  }
  .conteiner{
    background-color: transparent;
  }
  mark{
    background-color: green;
    color: greenyellow;
  }
  button:hover{
    opacity: .6;
    box-shadow: 0 1px 20px greenyellow;
  }
}